<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Person</th>
            <th>Asistencia</th>
            <th>Plato</th>
            <th>Comentarios</th>
        </tr>
    </thead>

    <tbody>
        <tr class="table-row" *ngFor="let i of invitados; let j = index">
            <td>{{j+1}}.</td>
            <td>{{i.data.nombre}}</td>
            <td class="brown" [class.green]="i.data.asiste==='Sí'">{{i.data.asiste}}</td>
            <td>{{i.data.plato}}</td>
            <td>{{i.data.comentarios}}</td>
            <td><input class="amount" [class.green-border]="i.data.regalo>0" #amount type="number" [value]="i.data.regalo" (change)="i.data.regalo=amount.value"></td>
            <td><button type="submit" (click)="confirmGift(i)">Confirmar</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>TOTAL</td>
            <td>{{totalRegalosFunc()|currency: '€'}}</td>
        </tr>
    </tbody>

</table>

<!-- <a href="https://api.whatsapp.com/send?phone=34600731531&text= Hola!%20Quiero%20contratar%20sus%20servicios!">Send invitation</a> -->
<!-- 
    Envia invitación por whats
    Esto guarda el nombre del contacto

    crea tabla, trae datos |muestra estado, invitado, confirmado o excusa|, 
    preferencia de menú, comentarios menú, familiar, amig@, compañe@, amig@ de amig@s
-->
