<!-- <a href="https://api.whatsapp.com/send?phone=34600731531&text= Hola!%20Quiero%20contratar%20sus%20servicios!">Send invitation</a> -->
<a [routerLink]="['/dashboard', { foo: 'foo' }]" routerLinkActive="" target="_blank" rel="noopener noreferrer">Hello</a>
<!-- 
    Envia invitación por whats
    Esto guarda el nombre del contacto

    crea tabla, trae datos |muestra estado, invitado, confirmado o excusa|, 
    preferencia de menú, comentarios menú, familiar, amig@, compañe@, amig@ de amig@s
-->
