<!-- 
    Valida el formulario y actualiza el estado del invitado, si existe o añade con color amigo de amigos
 -->
<form #asistenciaForm="ngForm">
    <div class="titulo1">Contamos contigo?</div>

    <div class="asistencia">
        <div class="radios">
            <input type="radio" id="si" name="asistencia" value="confirmo asistencia" checked [(ngModel)]="data.asiste">
            <label for="si">Confirmo asistencia</label>
        </div>
    
        <div class="radios">
            <input type="radio" id="si2" name="asistencia" value="Comer y beber gratis" [(ngModel)]="data.asiste">
            <label for="si2">Me caís mal pero vengo a la boda para comer y beber gratis</label>
        </div>
        
        <div class="radios">
            <input type="radio" id="excusa" name="asistencia" [value]="excusa" [(ngModel)]="data.asiste">
            <label for="excusa">{{excusa}}</label>
        </div>

        <div class="excusa" (click)="getExcuse()">Inventa otra excusa</div>
    
    </div>
    
    <div  class="titulo1">Elige el plato principal</div>
    <div class="menu">
        <div class="radios">
            <input type="radio" id="carne" name="menu" value="Carne" [(ngModel)]="data.plato">
            <label for="carne">Carne</label>
        </div>
    
        <div class="radios">
            <input type="radio" id="pescado" name="menu" value="Pescado" [(ngModel)]="data.plato">
            <label for="pescado">Pescado</label>
        </div>
    
        <div class="radios">
            <input type="radio" id="veggi" name="menu" checked value="vegetariano" [(ngModel)]="data.plato">
            <label for="veggi">Vegetariano</label>
        </div>
    
        <textarea [(ngModel)]="data.comentarios" name="comentarios" rows="2" placeholder="Alergias? Sugerencias? Quiere contarnos algo? "></textarea>

        <div class="excusa mt-20" (click)="addOrPatch()">Confirmar</div>

    </div>

</form>