<div class="container" role="main">
  <div class="inner-container">
    <h3 class="slide-fwd-center">Boda de</h3> 
    <h1 class="slide-fwd-center">Ricard & Miluska</h1>
    <span style="align-self: flex-end;">21 de Mayo 22</span>
  </div>
</div>

<router-outlet></router-outlet>
<app-venue></app-venue>
<app-asistencia></app-asistencia>
<!-- <img src="../assets/image6.png"  alt="2 Buos"> -->
<footer>
  <img src="../assets/image4.png" width="120" height="120" alt="2 Buos" style="margin: 0 auto; text-align: center;">
  <div>
    "Hay 3 cosas importantes en la vida;<br>
    Salud, dinero y amor<br>
    Afortunadamente, nos sobran salud y amor"<br>
    Bizum: 670843247
  </div>
  <img src="../assets/carlo-buttinoni-gNg1CWnz6dM-unsplash.jpg" width="100%" alt="">
</footer>