<div class="container" role="main">
  <div class="inner-container">
    <h3 class="slide-fwd-center">Boda de</h3> 
    <h1 class="slide-fwd-center">Ricard & Miluska</h1>
    <span style="align-self: flex-end;">21 de Mayo 22</span>
  </div>
</div>

<router-outlet></router-outlet>

<app-venue></app-venue>

<app-asistencia></app-asistencia>

<div class="bizum">
  <span>"Hay 3 cosas importantes en la vida;</span>
  <span>Salud, dinero y amor</span>
  <span>Afortunadamente, nos sobran salud y amor"</span>
  <span>Bizum: 670843247</span>
</div>
<img src="../assets/image6.png" width="100%" alt="2 Buos" style="margin: 0 auto; text-align: center;">
  <!-- <img src="../assets/carlo-buttinoni-gNg1CWnz6dM-unsplash.jpg" width="100%" alt="Wedding image"> -->