<div class="container" role="main">
  <div class="inner-container">
    <h3 class="slide-fwd-center">Boda de</h3> 
    <h1 class="slide-fwd-center">Ricard & Miluska</h1>
    <span style="align-self: flex-end;">21 de Mayo 22</span>
  </div>
</div>

<app-venue></app-venue>

<router-outlet></router-outlet>

<img src="../assets/261195616_1027652544749902_8080393228638851218_n.jpg" width="100%" alt="Venue">
<img src="../assets/239981826_1652189871643700_3487307704124444316_n.jpg" width="100%" alt="Dj">
