:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .container{
    background-image: url(../assets/georgia-de-lotz-1n_HNfGVBxE-unsplash.jpg);
    /* background-image: url(../assets/annie-spratt-wuc-KEIBrdE-unsplash.jpg); */
    /* background-image: url(../assets/eberhard-grossgasteiger-S-2Ukb_VqpA-unsplash.jpg); */
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inner-container{
    padding: 37% 0 40% 7%;
    text-align: center;
  }
  
  h1, h3 {
    margin: 8px 0;
    font-family: 'Satisfy', cursive;
  }

  .bizum{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;
    padding: 20px;
    font-size: 18px;
    text-align: center;
  }
  span{
    padding: 14px 0;
    font-family: 'Londrina Solid';
    letter-spacing: 1px;
  }
  
  h1:hover{
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
  }
  .slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  /* ----------------------------------------------
 * Generated by Animista on 2022-2-3 23:55:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  
  p {
    margin: 0;
  }

  @media screen and (max-width: 575px) {
    
  }