<div class="container" *ngIf="invitado">
    <div class="titulo">
        <div class="d-flex">
            <span>{{invitado.name1!}}</span>
            <span>{{invitado.name2? '&nbsp;y ' + invitado.name2 : ''}}</span>
        </div>
    </div>
    
    <div class="slogan">
        Hay días en la vida que son especiales por sí solos.
        Compartirlos con las personas que quieres...
        "los convierte en inolvidables"
        {{invitado.gender! === 'os'? 'Sois' : 'Eres'}} muy 
        {{invitado.gender! === 'os'? 'especiales' : 'especial'}} para nosotros y por eso 
        nos encantaría celebrarlo {{invitado.gender! === 'os'? 'con vosotr@s' : 'contigo'}}
    </div>

</div>

<app-venue></app-venue>

<app-asistencia></app-asistencia>

<div class="bizum">
    <span>"Hay 3 cosas importantes en la vida;</span>
    <span>Salud, dinero y amor</span>
    <span>Afortunadamente, nos sobran salud y amor"</span>
    <span class="biz"><img src="../assets/exchange.png" width="32" alt=""> Bizum: 670843247</span>
</div>

<img src="../assets/261195616_1027652544749902_8080393228638851218_n.jpg" width="100%" alt="Venue">
<img src="../assets/239981826_1652189871643700_3487307704124444316_n.jpg" width="100%" alt="Dj">