.container{
    min-height: 380px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.titulo{
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 3px;
    font-size: 28px;
    color: #708469;
}
.slogan{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 24px;
    padding: 20px;
}