<div class="container" *ngIf="invitado">
    <div class="titulo">
        <div class="d-flex">
            <span>{{invitado.name1!}}</span>
            <span>{{invitado.name2? '&nbsp;y ' + invitado.name2 : ''}}</span>
        </div>
    </div>
    
    <div class="slogan">
        Hi ha dies a la vida que són especials per si sols. 
        Compartir-los amb les persones que estimes 
        els converteix en inoblidables. 
        {{invitado.gender! === 'os'? 'Sou' : 'Ets'}} molt
        {{invitado.gender! === 'os'? 'especials' : 'especial'}} per nosaltres i per això
        ens agradaría celebrar-ho amb {{invitado.gender! === 'os'? 'vosaltres' : 'tu'}}
    </div>

</div>

<app-venue></app-venue>

<app-asistencia></app-asistencia>

<!-- <img src="../assets/239981826_1652189871643700_3487307704124444316_n.jpg" width="100%" alt="Dj"> -->