.container{
    min-height: 380px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #E8C2B4;
    padding-top: 90px
    /* background-color: #ead0d3; */
}
.slogan{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 24px;
    padding: 20px;
}