.card{
    background-color: #E8C2B4;
    width: 100%;
    text-align: center;
    padding: 12px 0;
}
.black{
    color: black;
    background-color: #E8C2B4;
}
.venue{
    padding: 8px;
}
/* video{
    width: 100%; 
} */