<div class="titulo1 black">{{multi? 'Us esperem': 'T’esperem'}} a ...</div>
<div class="card">
    <!-- <img src="../../../assets/urbanVillage.png" alt="Logo Venue"> -->
    <img src="../assets/261195616_1027652544749902_8080393228638851218_n.jpg" width="80%" alt="Venue">
    <!-- <video autoplay controls src="../../../assets/10000000_585364015951678_7887505258567857372_n.mp4" poster="../../../assets/163731117_870649890164878_5636795709190430917_n.jpg" type="video/mp4"></video> -->
    <div class="venue">
        Urban Village Maresme<br>
        Calle Joan Draper i Fossas núm 28/30<br>
        08358 - Arenys de Mar
    </div>
</div>