@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Londrina+Solid:wght@300&display=swap');

html, body{
    height: 100%;
    margin: 0;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}