@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Londrina+Solid:wght@300&display=swap');

html, body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    /* background-color: #f8f8f8; */
    background-color: #eae8e9;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 3px;
    font-size: 28px;
    color: #682525;
}

.titulo1{
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 2px;
    font-size: 20px;
    /* text-align: center; */
    padding: 20px;
    background-color: #C04342;
    color: white;
}